In [46]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import random
# Dependencies and Setup
# SQL Alchemy
from sqlalchemy import create_engine

In [47]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData, PrimaryKeyConstraint

from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
import sqlite3

In [48]:
engine = create_engine("sqlite:///Resources/happiness.sqlite")

In [49]:
df1 = pd.read_csv('Resources/2019.csv')

In [50]:
df1.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [51]:
# Identify incomplete rows
df1.count()

Overall rank                    156
Country or region               156
Score                           156
GDP per capita                  156
Social support                  156
Healthy life expectancy         156
Freedom to make life choices    156
Generosity                      156
Perceptions of corruption       156
dtype: int64

In [52]:
print(df1.columns)

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [53]:
df1 = df1[['Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']]

In [54]:
df1.columns

Index(['Country or region', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [55]:
df1.rename(columns={'Country or region':'country_name', 'Score':'score', 'GDP per capita':'gdp_per_capita',
       'Social support':'social_support', 'Healthy life expectancy':'healthy_life_expectancy',
       'Freedom to make life choices':'freedom_to_make_choices', 'Generosity':'generosity',
       'Perceptions of corruption':'perceptions_of_corruption'}, inplace=True)

In [56]:
df1.shape

(156, 8)

In [57]:
# Return non-NAN rows in each column
print(df1.count())

country_name                 156
score                        156
gdp_per_capita               156
social_support               156
healthy_life_expectancy      156
freedom_to_make_choices      156
generosity                   156
perceptions_of_corruption    156
dtype: int64

In [58]:
# Return total number of rows including NAN in the dataframe
df1.size

1248

In [59]:
df1.describe()

,score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_choices,generosity,perceptions_of_corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [60]:
df2 = pd.read_csv('Resources/PI_2019_Data.csv')

In [61]:
df2.head()

,area_name,area_code,area_group,pillar_name,element_name,rank_2009,rank_2010,rank_2011,rank_2012,rank_2013,...,score_2010,score_2011,score_2012,score_2013,score_2014,score_2015,score_2016,score_2017,score_2018,score_2019
0,Afghanistan,AFG,Asia-Pacific,Economic Quality,Dynamism,145,146,148,133,131,...,2.2,2.1,2.9,3.1,2.6,3.4,2.4,2.3,2.3,2.5
1,Afghanistan,AFG,Asia-Pacific,Economic Quality,Fiscal Sustainability,82,64,75,69,55,...,14.3,13.9,14.2,15.0,15.4,15.1,15.5,15.8,16.2,15.8
2,Afghanistan,AFG,Asia-Pacific,Economic Quality,Labour Force Engagement,130,128,127,122,117,...,8.2,8.3,8.6,8.8,8.9,8.9,9.1,9.2,9.3,9.3
3,Afghanistan,AFG,Asia-Pacific,Economic Quality,Macroeconomic Stability,131,65,13,3,7,...,5.8,6.5,7.3,7.0,6.9,5.8,5.3,5.4,5.0,4.9
4,Afghanistan,AFG,Asia-Pacific,Economic Quality,Productivity and Competitiveness,139,152,139,138,143,...,6.7,8.2,8.4,8.0,7.9,8.1,7.9,7.7,7.7,7.7

In [62]:
df2.columns

Index(['area_name', 'area_code', 'area_group', 'pillar_name', 'element_name',
       'rank_2009', 'rank_2010', 'rank_2011', 'rank_2012', 'rank_2013',
       'rank_2014', 'rank_2015', 'rank_2016', 'rank_2017', 'rank_2018',
       'rank_2019', 'score_2009', 'score_2010', 'score_2011', 'score_2012',
       'score_2013', 'score_2014', 'score_2015', 'score_2016', 'score_2017',
       'score_2018', 'score_2019'],
      dtype='object')

In [63]:
# keep only wanted columns
df2 = df2[['area_name','area_code','pillar_name','element_name','rank_2019','score_2019']]

In [64]:
df2.head()

,area_name,area_code,pillar_name,element_name,rank_2019,score_2019
0,Afghanistan,AFG,Economic Quality,Dynamism,146,2.5
1,Afghanistan,AFG,Economic Quality,Fiscal Sustainability,43,15.8
2,Afghanistan,AFG,Economic Quality,Labour Force Engagement,116,9.3
3,Afghanistan,AFG,Economic Quality,Macroeconomic Stability,119,4.9
4,Afghanistan,AFG,Economic Quality,Productivity and Competitiveness,142,7.7

In [65]:
df2.rename(columns={'area_name':'country_name',
                    'rank_2019':'rank',       
                    'score_2019':'score'}, inplace=True)

In [66]:
df2.head()

,country_name,area_code,pillar_name,element_name,rank,score
0,Afghanistan,AFG,Economic Quality,Dynamism,146,2.5
1,Afghanistan,AFG,Economic Quality,Fiscal Sustainability,43,15.8
2,Afghanistan,AFG,Economic Quality,Labour Force Engagement,116,9.3
3,Afghanistan,AFG,Economic Quality,Macroeconomic Stability,119,4.9
4,Afghanistan,AFG,Economic Quality,Productivity and Competitiveness,142,7.7

In [67]:
df2.loc[df2['country_name'] == 'Finland']

,country_name,area_code,pillar_name,element_name,rank,score
3315,Finland,FIN,Economic Quality,Dynamism,31,8.3
3316,Finland,FIN,Economic Quality,Fiscal Sustainability,36,16.1
3317,Finland,FIN,Economic Quality,Labour Force Engagement,37,13.7
3318,Finland,FIN,Economic Quality,Macroeconomic Stability,51,6.4
3319,Finland,FIN,Economic Quality,Productivity and Competitiveness,17,23.9
...,...,...,...,...,...,...
3375,Finland,FIN,Social Capital,Civic and Social Participation,47,8.4
3376,Finland,FIN,Social Capital,Institutional Trust,7,15.7
3377,Finland,FIN,Social Capital,Interpersonal Trust,3,15.3
3378,Finland,FIN,Social Capital,Personal and Family Relationships,3,17.9
3379,Finland,FIN,Social Capital,Social Networks,1,16.4

In [68]:
df2['pillar_name'].unique()

array(['Economic Quality', 'Education', 'Enterprise Conditions',
       'Governance', 'Health', 'Investment Environment',
       'Living Conditions', 'Market Access and Infrastructure',
       'Natural Environment', 'Personal Freedom', 'Safety and Security',
       'Social Capital'], dtype=object)

In [69]:
df2['element_name'].unique()

array(['Dynamism', 'Fiscal Sustainability', 'Labour Force Engagement',
       'Macroeconomic Stability', 'Productivity and Competitiveness',
       'Adult Skills', 'Pre-Primary Education', 'Primary Education',
       'Secondary Education', 'Tertiary Education',
       'Burden of Regulation', 'Domestic Market Contestability',
       'Environment for Business Creation', 'Labour Market Flexibility',
       'Executive Constraints', 'Government Effectiveness',
       'Government Integrity', 'Political Accountability',
       'Regulatory Quality', 'Rule of Law', 'Behavioural Risk Factors',
       'Care Systems', 'Longevity', 'Mental Health', 'Physical Health',
       'Preventative Interventions', 'Contract Enforcement',
       'Financing Ecosystem', 'Investor Protection', 'Property Rights',
       'Restrictions on International Investment', 'Basic Services',
       'Connectedness', 'Material Resources', 'Nutrition',
       'Protection from Harm', 'Shelter', 'Border Administration',
       'Communications', 'Import Tariff Barriers', 'Market Distortions',
       'Open Market Scale', 'Resources', 'Transport', 'Emissions',
       'Exposure to Air Pollution', 'Forest, Land and Soil', 'Freshwater',
       'Oceans', 'Preservation Efforts',
       'Absence of Legal Discrimination', 'Agency',
       'Freedom of Assembly and Association',
       'Freedom of Speech and Access to Information', 'Social Tolerance',
       'Politically Related Terror and Violence', 'Property Crime',
       'Terrorism', 'Violent Crime', 'War and Civil Conflict',
       'Civic and Social Participation', 'Institutional Trust',
       'Interpersonal Trust', 'Personal and Family Relationships',
       'Social Networks'], dtype=object)

In [70]:
df2 = df2.loc[(df2['pillar_name'] == 'Economic Quality') & (df2['element_name'] == 'Productivity and Competitiveness')] 
df2.head()

,country_name,area_code,pillar_name,element_name,rank,score
4,Afghanistan,AFG,Economic Quality,Productivity and Competitiveness,142,7.7
69,Albania,ALB,Economic Quality,Productivity and Competitiveness,88,13.6
134,Algeria,DZA,Economic Quality,Productivity and Competitiveness,118,10.2
199,Angola,AGO,Economic Quality,Productivity and Competitiveness,145,7.3
264,Argentina,ARG,Economic Quality,Productivity and Competitiveness,74,15.0

In [71]:
df3 = pd.read_csv('Resources/2lettercode.csv')

In [72]:
df3.head()

,English short name,French short name,Alpha-2 code,Alpha-3 code,Numeric
0,Afghanistan,Afghanistan (l'),AF,AFG,4
1,Albania,Albanie (l'),AL,ALB,8
2,Algeria,Algérie (l'),DZ,DZA,12
3,American Samoa,Samoa américaines (les),AS,ASM,16
4,Andorra,Andorre (l'),AD,AND,20

In [73]:
# keep only wanted columns
df3 = df3[['English short name','Alpha-3 code']]

In [74]:
df3.rename(columns={'English short name':'country_name',
                    'Alpha-3 code':'alpha_3_code',       
                    }, inplace=True)

In [75]:
df3.head()

     country_name alpha_3_code
0     Afghanistan          AFG
1         Albania          ALB
2         Algeria          DZA
3  American Samoa          ASM
4         Andorra          AND

In [76]:
Base = declarative_base()

In [30]:
class Three_Letter_Codes(Base):
    __tablename__ = 'Three_Letter_Codes'
    country_name = Column(String)
    alpha_3_code = Column(String,primary_key=True)

In [77]:
class Happiness_Score(Base):
    __tablename__ = 'Happiness_Score'
    country_name = Column(String, primary_key=True)
    score = Column(Integer)
    gdp_per_capita = Column(Integer)
    social_support = Column(Integer)
    healthy_life_expectancy = Column(Integer)  
    freedom_to_make_life_choices = Column(Integer)
    generosity = Column(Integer)
    perceptions_of_corruption = Column(Integer)

In [78]:
class Country(Base):
    __tablename__ = 'Country'
    country_name = Column(String)
    area_code = Column(Integer,primary_key=True)
    pillar_name = Column(String)
    element_name = Column(String)
    rank = Column(Integer)  
    score = Column(Integer)

In [79]:
# Connect to metadata
Base.metadata.create_all(engine)
metadata = MetaData(bind=engine)
metadata.reflect()

In [80]:
# Create connection to engine
conn = engine.connect()

In [81]:
# Read Dfs into a list of row objects
Happiness_data = df1.to_dict(orient='records')
Country_data = df2.to_dict(orient='records')
Three_Letter_Codes_data = df3.to_dict(orient='records')

In [82]:
# Insert data into table using SQLAlchemy
Three_Letter_Codes_table = sqlalchemy.Table('Three_Letter_Codes', metadata, PrimaryKeyConstraint('country_name'),
                            autoload=True, extend_existing=True)

Happiness_Score_table = sqlalchemy.Table('Happiness_Score', metadata, PrimaryKeyConstraint('country_name'),
                            autoload=True, extend_existing=True)

Country_table = sqlalchemy.Table('Country', metadata, PrimaryKeyConstraint('country_name', 'pillar_name', 'element_name'),
                            autoload=True, extend_existing=True)

In [83]:
# Execute the inserts of the data

conn.execute(Three_Letter_Codes_table.delete())
conn.execute(Three_Letter_Codes_table.insert(), Three_Letter_Codes_data)

conn.execute(Happiness_Score_table.delete())
conn.execute(Happiness_Score_table.insert(), Happiness_data)

conn.execute(Country_table.delete())
conn.execute(Country_table.insert(), Country_data)

In [84]:
engine.execute('select * from Happiness_Score').fetchall()

[(None, 'Finland', 7.769, 1.34, 1.587, 0.986, None, 0.153, 0.39299999999999996),
 (None, 'Denmark', 7.6, 1.383, 1.5730000000000002, 0.996, None, 0.252, 0.41),
 (None, 'Norway', 7.553999999999999, 1.4880000000000002, 1.5819999999999999, 1.028, None, 0.271, 0.341),
 (None, 'Iceland', 7.494, 1.38, 1.624, 1.026, None, 0.354, 0.11800000000000001),
 (None, 'Netherlands', 7.4879999999999995, 1.396, 1.5219999999999998, 0.9990000000000001, None, 0.322, 0.298),
 (None, 'Switzerland', 7.48, 1.452, 1.526, 1.052, None, 0.263, 0.34299999999999997),
 (None, 'Sweden', 7.343, 1.3869999999999998, 1.4869999999999999, 1.0090000000000001, None, 0.267, 0.373),
 (None, 'New Zealand', 7.307, 1.3030000000000002, 1.557, 1.026, None, 0.33, 0.38),
 (None, 'Canada', 7.278, 1.365, 1.505, 1.0390000000000001, None, 0.285, 0.308),
 (None, 'Austria', 7.246, 1.376, 1.475, 1.016, None, 0.244, 0.226),
 (None, 'Australia', 7.228, 1.3719999999999999, 1.548, 1.036, None, 0.332, 0.29),
 (None, 'Costa Rica', 7.167000000000001, 1.034, 1.4409999999999998, 0.963, None, 0.14400000000000002, 0.09300000000000001),
 (None, 'Israel', 7.138999999999999, 1.276, 1.455, 1.0290000000000001, None, 0.261, 0.08199999999999999),
 (None, 'Luxembourg', 7.09, 1.609, 1.479, 1.012, None, 0.19399999999999998, 0.316),
 (None, 'United Kingdom', 7.053999999999999, 1.3330000000000002, 1.538, 0.996, None, 0.348, 0.278),
 (None, 'Ireland', 7.021, 1.499, 1.5530000000000002, 0.9990000000000001, None, 0.298, 0.31),
 (None, 'Germany', 6.985, 1.3730000000000002, 1.454, 0.987, None, 0.261, 0.265),
 (None, 'Belgium', 6.922999999999999, 1.3559999999999999, 1.504, 0.986, None, 0.16, 0.21),
 (None, 'United States', 6.892, 1.433, 1.4569999999999999, 0.8740000000000001, None, 0.28, 0.128),
 (None, 'Czech Republic', 6.852, 1.2690000000000001, 1.4869999999999999, 0.92, None, 0.046, 0.036000000000000004),
 (None, 'United Arab Emirates', 6.825, 1.5030000000000001, 1.31, 0.825, None, 0.262, 0.182),
 (None, 'Malta', 6.726, 1.3, 1.52, 0.9990000000000001, None, 0.375, 0.151),
 (None, 'Mexico', 6.595, 1.07, 1.3230000000000002, 0.861, None, 0.07400000000000001, 0.073),
 (None, 'France', 6.5920000000000005, 1.324, 1.472, 1.045, None, 0.111, 0.183),
 (None, 'Taiwan', 6.446000000000001, 1.368, 1.43, 0.914, None, 0.242, 0.09699999999999999),
 (None, 'Chile', 6.444, 1.159, 1.369, 0.92, None, 0.187, 0.055999999999999994),
 (None, 'Guatemala', 6.436, 0.8, 1.2690000000000001, 0.746, None, 0.175, 0.078),
 (None, 'Saudi Arabia', 6.375, 1.403, 1.357, 0.795, None, 0.08, 0.132),
 (None, 'Qatar', 6.374, 1.6840000000000002, 1.3130000000000002, 0.871, None, 0.22, 0.16699999999999998),
 (None, 'Spain', 6.354, 1.286, 1.484, 1.062, None, 0.153, 0.079),
 (None, 'Panama', 6.321000000000001, 1.149, 1.442, 0.91, None, 0.109, 0.054000000000000006),
 (None, 'Brazil', 6.3, 1.004, 1.439, 0.802, None, 0.099, 0.086),
 (None, 'Uruguay', 6.292999999999999, 1.124, 1.465, 0.8909999999999999, None, 0.127, 0.15),
 (None, 'Singapore', 6.2620000000000005, 1.5719999999999998, 1.463, 1.141, None, 0.271, 0.45299999999999996),
 (None, 'El Salvador', 6.252999999999999, 0.794, 1.242, 0.789, None, 0.09300000000000001, 0.07400000000000001),
 (None, 'Italy', 6.223, 1.294, 1.4880000000000002, 1.0390000000000001, None, 0.158, 0.03),
 (None, 'Bahrain', 6.199, 1.3619999999999999, 1.368, 0.871, None, 0.255, 0.11),
 (None, 'Slovakia', 6.1979999999999995, 1.246, 1.504, 0.8809999999999999, None, 0.121, 0.013999999999999999),
 (None, 'Trinidad & Tobago', 6.192, 1.2309999999999999, 1.4769999999999999, 0.713, None, 0.185, 0.016),
 (None, 'Poland', 6.182, 1.206, 1.4380000000000002, 0.884, None, 0.11699999999999999, 0.05),
 (None, 'Uzbekistan', 6.1739999999999995, 0.745, 1.5290000000000001, 0.7559999999999999, None, 0.322, 0.24),
 (None, 'Lithuania', 6.149, 1.238, 1.515, 0.818, None, 0.043, 0.042),
 (None, 'Colombia', 6.125, 0.985, 1.41, 0.841, None, 0.099, 0.034),
 (None, 'Slovenia', 6.117999999999999, 1.258, 1.5230000000000001, 0.953, None, 0.14400000000000002, 0.057),
 (None, 'Nicaragua', 6.105, 0.6940000000000001, 1.325, 0.835, None, 0.2, 0.127),
 (None, 'Kosovo', 6.1, 0.882, 1.232, 0.758, None, 0.262, 0.006),
 (None, 'Argentina', 6.086, 1.092, 1.432, 0.8809999999999999, None, 0.066, 0.05),
 (None, 'Romania', 6.07, 1.162, 1.232, 0.825, None, 0.083, 0.005),
 (None, 'Cyprus', 6.046, 1.263, 1.2229999999999999, 1.042, None, 0.19, 0.040999999999999995),
 (None, 'Ecuador', 6.028, 0.912, 1.3119999999999998, 0.868, None, 0.126, 0.087),
 (None, 'Kuwait', 6.021, 1.5, 1.319, 0.8079999999999999, None, 0.142, 0.09699999999999999),
 (None, 'Thailand', 6.007999999999999, 1.05, 1.409, 0.828, None, 0.359, 0.027999999999999997),
 (None, 'Latvia', 5.94, 1.187, 1.465, 0.812, None, 0.075, 0.064),
 (None, 'South Korea', 5.895, 1.301, 1.219, 1.036, None, 0.175, 0.055999999999999994),
 (None, 'Estonia', 5.893, 1.237, 1.528, 0.8740000000000001, None, 0.10300000000000001, 0.161),
 (None, 'Jamaica', 5.89, 0.831, 1.4780000000000002, 0.831, None, 0.107, 0.027999999999999997),
 (None, 'Mauritius', 5.888, 1.12, 1.402, 0.7979999999999999, None, 0.215, 0.06),
 (None, 'Japan', 5.886, 1.327, 1.419, 1.088, None, 0.069, 0.14),
 (None, 'Honduras', 5.86, 0.642, 1.236, 0.828, None, 0.24600000000000002, 0.078),
 (None, 'Kazakhstan', 5.809, 1.173, 1.508, 0.7290000000000001, None, 0.146, 0.096),
 (None, 'Bolivia', 5.779, 0.7759999999999999, 1.209, 0.706, None, 0.13699999999999998, 0.064),
 (None, 'Hungary', 5.757999999999999, 1.2009999999999998, 1.41, 0.828, None, 0.081, 0.02),
 (None, 'Paraguay', 5.742999999999999, 0.855, 1.475, 0.777, None, 0.184, 0.08),
 (None, 'Northern Cyprus', 5.718, 1.263, 1.252, 1.042, None, 0.191, 0.162),
 (None, 'Peru', 5.697, 0.96, 1.274, 0.8540000000000001, None, 0.083, 0.027000000000000003),
 (None, 'Portugal', 5.693, 1.2209999999999999, 1.431, 0.9990000000000001, None, 0.047, 0.025),
 (None, 'Pakistan', 5.653, 0.677, 0.8859999999999999, 0.535, None, 0.22, 0.098),
 (None, 'Russia', 5.648, 1.183, 1.452, 0.726, None, 0.08199999999999999, 0.031),
 (None, 'Philippines', 5.631, 0.807, 1.2930000000000001, 0.657, None, 0.11699999999999999, 0.107),
 (None, 'Serbia', 5.603, 1.004, 1.383, 0.8540000000000001, None, 0.13699999999999998, 0.039),
 (None, 'Moldova', 5.529, 0.685, 1.328, 0.7390000000000001, None, 0.18100000000000002, 0),
 (None, 'Libya', 5.525, 1.044, 1.3030000000000002, 0.6729999999999999, None, 0.133, 0.152),
 (None, 'Montenegro', 5.523, 1.051, 1.361, 0.871, None, 0.142, 0.08),
 (None, 'Tajikistan', 5.4670000000000005, 0.493, 1.0979999999999999, 0.718, None, 0.23, 0.14400000000000002),
 (None, 'Croatia', 5.432, 1.155, 1.266, 0.914, None, 0.11900000000000001, 0.022000000000000002),
 (None, 'Hong Kong', 5.43, 1.4380000000000002, 1.2770000000000001, 1.122, None, 0.258, 0.287),
 (None, 'Dominican Republic', 5.425, 1.015, 1.401, 0.779, None, 0.113, 0.10099999999999999),
 (None, 'Bosnia and Herzegovina', 5.386, 0.945, 1.212, 0.845, None, 0.263, 0.006),
 (None, 'Turkey', 5.372999999999999, 1.183, 1.36, 0.8079999999999999, None, 0.083, 0.106),
 (None, 'Malaysia', 5.3389999999999995, 1.2209999999999999, 1.171, 0.828, None, 0.26, 0.024),
 (None, 'Belarus', 5.3229999999999995, 1.067, 1.465, 0.789, None, 0.094, 0.142),
 (None, 'Greece', 5.287000000000001, 1.181, 1.156, 0.9990000000000001, None, 0, 0.034),
 (None, 'Mongolia', 5.285, 0.948, 1.531, 0.667, None, 0.235, 0.038),
 (None, 'North Macedonia', 5.274, 0.983, 1.294, 0.838, None, 0.185, 0.034),
 (None, 'Nigeria', 5.265, 0.696, 1.111, 0.245, None, 0.215, 0.040999999999999995),
 (None, 'Kyrgyzstan', 5.261, 0.551, 1.4380000000000002, 0.723, None, 0.3, 0.023),
 (None, 'Turkmenistan', 5.247000000000001, 1.052, 1.538, 0.657, None, 0.244, 0.027999999999999997),
 (None, 'Algeria', 5.211, 1.002, 1.16, 0.785, None, 0.073, 0.114),
 (None, 'Morocco', 5.207999999999999, 0.8009999999999999, 0.782, 0.782, None, 0.036000000000000004, 0.076),
 (None, 'Azerbaijan', 5.207999999999999, 1.043, 1.147, 0.769, None, 0.035, 0.182),
 (None, 'Lebanon', 5.197, 0.987, 1.224, 0.815, None, 0.166, 0.027000000000000003),
 (None, 'Indonesia', 5.192, 0.9309999999999999, 1.203, 0.66, None, 0.498, 0.027999999999999997),
 (None, 'China', 5.191, 1.0290000000000001, 1.125, 0.893, None, 0.057999999999999996, 0.1),
 (None, 'Vietnam', 5.175, 0.741, 1.3459999999999999, 0.851, None, 0.147, 0.073),
 (None, 'Bhutan', 5.082, 0.813, 1.321, 0.604, None, 0.37, 0.16699999999999998),
 (None, 'Cameroon', 5.044, 0.5489999999999999, 0.91, 0.331, None, 0.187, 0.037000000000000005),
 (None, 'Bulgaria', 5.011, 1.092, 1.5130000000000001, 0.815, None, 0.081, 0.004),
 (None, 'Ghana', 4.996, 0.611, 0.868, 0.486, None, 0.245, 0.04),
 (None, 'Ivory Coast', 4.944, 0.569, 0.8079999999999999, 0.23199999999999998, None, 0.154, 0.09),
 (None, 'Nepal', 4.913, 0.446, 1.226, 0.677, None, 0.285, 0.08900000000000001),
 (None, 'Jordan', 4.906000000000001, 0.8370000000000001, 1.225, 0.815, None, 0.11, 0.13),
 (None, 'Benin', 4.883, 0.39299999999999996, 0.43700000000000006, 0.397, None, 0.175, 0.08199999999999999),
 (None, 'Congo (Brazzaville)', 4.812, 0.6729999999999999, 0.799, 0.508, None, 0.105, 0.09300000000000001),
 (None, 'Gabon', 4.7989999999999995, 1.057, 1.183, 0.5710000000000001, None, 0.043, 0.055),
 (None, 'Laos', 4.796, 0.764, 1.03, 0.551, None, 0.266, 0.16399999999999998),
 (None, 'South Africa', 4.7219999999999995, 0.96, 1.351, 0.469, None, 0.13, 0.055),
 (None, 'Albania', 4.718999999999999, 0.9470000000000001, 0.848, 0.8740000000000001, None, 0.17800000000000002, 0.027000000000000003),
 (None, 'Venezuela', 4.707, 0.96, 1.4269999999999998, 0.805, None, 0.064, 0.047),
 (None, 'Cambodia', 4.7, 0.574, 1.122, 0.637, None, 0.23199999999999998, 0.062),
 (None, 'Palestinian Territories', 4.696000000000001, 0.657, 1.247, 0.672, None, 0.10300000000000001, 0.066),
 (None, 'Senegal', 4.681, 0.45, 1.1340000000000001, 0.5710000000000001, None, 0.153, 0.07200000000000001),
 (None, 'Somalia', 4.668, 0, 0.698, 0.268, None, 0.243, 0.27),
 (None, 'Namibia', 4.638999999999999, 0.879, 1.3130000000000002, 0.47700000000000004, None, 0.07, 0.055999999999999994),
 (None, 'Niger', 4.628, 0.138, 0.774, 0.366, None, 0.188, 0.102),
 (None, 'Burkina Faso', 4.587, 0.331, 1.056, 0.38, None, 0.177, 0.113),
 (None, 'Armenia', 4.559, 0.85, 1.055, 0.815, None, 0.095, 0.064),
 (None, 'Iran', 4.548, 1.1, 0.8420000000000001, 0.785, None, 0.27, 0.125),
 (None, 'Guinea', 4.534, 0.38, 0.8290000000000001, 0.375, None, 0.207, 0.086),
 (None, 'Georgia', 4.519, 0.8859999999999999, 0.6659999999999999, 0.752, None, 0.043, 0.16399999999999998),
 (None, 'Gambia', 4.516, 0.308, 0.9390000000000001, 0.428, None, 0.26899999999999996, 0.16699999999999998),
 (None, 'Kenya', 4.5089999999999995, 0.512, 0.983, 0.581, None, 0.37200000000000005, 0.053),
 (None, 'Mauritania', 4.49, 0.57, 1.167, 0.489, None, 0.106, 0.08800000000000001),
 (None, 'Mozambique', 4.466, 0.204, 0.986, 0.39, None, 0.19699999999999998, 0.138),
 (None, 'Tunisia', 4.461, 0.9209999999999999, 1, 0.815, None, 0.059000000000000004, 0.055),
 (None, 'Bangladesh', 4.456, 0.562, 0.9279999999999999, 0.723, None, 0.166, 0.14300000000000002),
 (None, 'Iraq', 4.437, 1.043, 0.98, 0.574, None, 0.14800000000000002, 0.08900000000000001),
 (None, 'Congo (Kinshasa)', 4.418, 0.094, 1.125, 0.35700000000000004, None, 0.212, 0.053),
 (None, 'Mali', 4.39, 0.385, 1.105, 0.308, None, 0.153, 0.052000000000000005),
 (None, 'Sierra Leone', 4.374, 0.268, 0.841, 0.242, None, 0.252, 0.045),
 (None, 'Sri Lanka', 4.3660000000000005, 0.9490000000000001, 1.265, 0.831, None, 0.244, 0.047),
 (None, 'Myanmar', 4.36, 0.71, 1.181, 0.555, None, 0.5660000000000001, 0.172),
 (None, 'Chad', 4.35, 0.35, 0.7659999999999999, 0.192, None, 0.198, 0.078),
 (None, 'Ukraine', 4.332, 0.82, 1.39, 0.7390000000000001, None, 0.187, 0.01),
 (None, 'Ethiopia', 4.2860000000000005, 0.336, 1.033, 0.532, None, 0.209, 0.1),
 (None, 'Swaziland', 4.212, 0.8109999999999999, 1.149, 0, None, 0.07400000000000001, 0.135),
 (None, 'Uganda', 4.189, 0.332, 1.069, 0.44299999999999995, None, 0.252, 0.06),
 (None, 'Egypt', 4.166, 0.9129999999999999, 1.0390000000000001, 0.644, None, 0.076, 0.067),
 (None, 'Zambia', 4.107, 0.578, 1.058, 0.426, None, 0.247, 0.087),
 (None, 'Togo', 4.085, 0.275, 0.5720000000000001, 0.41, None, 0.177, 0.085),
 (None, 'India', 4.015, 0.755, 0.765, 0.588, None, 0.2, 0.085),
 (None, 'Liberia', 3.975, 0.073, 0.922, 0.44299999999999995, None, 0.233, 0.033),
 (None, 'Comoros', 3.9730000000000003, 0.27399999999999997, 0.757, 0.505, None, 0.275, 0.078),
 (None, 'Madagascar', 3.9330000000000003, 0.27399999999999997, 0.9159999999999999, 0.555, None, 0.16899999999999998, 0.040999999999999995),
 (None, 'Lesotho', 3.802, 0.489, 1.169, 0.168, None, 0.107, 0.09300000000000001),
 (None, 'Burundi', 3.775, 0.046, 0.447, 0.38, None, 0.17600000000000002, 0.18),
 (None, 'Zimbabwe', 3.6630000000000003, 0.366, 1.114, 0.433, None, 0.151, 0.08900000000000001),
 (None, 'Haiti', 3.597, 0.32299999999999995, 0.688, 0.449, None, 0.419, 0.11),
 (None, 'Botswana', 3.488, 1.041, 1.145, 0.5379999999999999, None, 0.025, 0.1),
 (None, 'Syria', 3.4619999999999997, 0.619, 0.37799999999999995, 0.44, None, 0.331, 0.141),
 (None, 'Malawi', 3.41, 0.191, 0.56, 0.495, None, 0.218, 0.08900000000000001),
 (None, 'Yemen', 3.38, 0.287, 1.163, 0.46299999999999997, None, 0.10800000000000001, 0.077),
 (None, 'Rwanda', 3.3339999999999996, 0.359, 0.711, 0.614, None, 0.217, 0.41100000000000003),
 (None, 'Tanzania', 3.2310000000000003, 0.47600000000000003, 0.885, 0.499, None, 0.276, 0.147),
 (None, 'Afghanistan', 3.2030000000000003, 0.35, 0.517, 0.361, None, 0.158, 0.025),
 (None, 'Central African Republic', 3.083, 0.026000000000000002, 0, 0.105, None, 0.235, 0.035),
 (None, 'South Sudan', 2.853, 0.306, 0.575, 0.295, None, 0.20199999999999999, 0.091)]

In [85]:
engine.execute('select country_name,area_code from Country').fetchall()

[('Afghanistan', 'AFG'),
 ('Albania', 'ALB'),
 ('Algeria', 'DZA'),
 ('Angola', 'AGO'),
 ('Argentina', 'ARG'),
 ('Armenia', 'ARM'),
 ('Australia', 'AUS'),
 ('Austria', 'AUT'),
 ('Azerbaijan', 'AZE'),
 ('Bahrain', 'BHR'),
 ('Bangladesh', 'BGD'),
 ('Belarus', 'BLR'),
 ('Belgium', 'BEL'),
 ('Belize', 'BLZ'),
 ('Benin', 'BEN'),
 ('Bolivia', 'BOL'),
 ('Bosnia and Herzegovina', 'BIH'),
 ('Botswana', 'BWA'),
 ('Brazil', 'BRA'),
 ('Bulgaria', 'BGR'),
 ('Burkina Faso', 'BFA'),
 ('Burundi', 'BDI'),
 ('Cabo Verde', 'CPV'),
 ('Cambodia', 'KHM'),
 ('Cameroon', 'CMR'),
 ('Canada', 'CAN'),
 ('Central African Republic', 'CAF'),
 ('Chad', 'TCD'),
 ('Chile', 'CHL'),
 ('China', 'CHN'),
 ('Colombia', 'COL'),
 ('Comoros', 'COM'),
 ('Congo', 'COG'),
 ('Costa Rica', 'CRI'),
 ('Croatia', 'HRV'),
 ('Cuba', 'CUB'),
 ('Cyprus', 'CYP'),
 ('Czechia', 'CZE'),
 ("Côte d'Ivoire", 'CIV'),
 ('Democratic Republic of Congo', 'COD'),
 ('Denmark', 'DNK'),
 ('Djibouti', 'DJI'),
 ('Dominican Republic', 'DOM'),
 ('Ecuador', 'ECU'),
 ('Egypt', 'EGY'),
 ('El Salvador', 'SLV'),
 ('Equatorial Guinea', 'GNQ'),
 ('Eritrea', 'ERI'),
 ('Estonia', 'EST'),
 ('Eswatini', 'SWZ'),
 ('Ethiopia', 'ETH'),
 ('Finland', 'FIN'),
 ('France', 'FRA'),
 ('Gabon', 'GAB'),
 ('Georgia', 'GEO'),
 ('Germany', 'DEU'),
 ('Ghana', 'GHA'),
 ('Greece', 'GRC'),
 ('Guatemala', 'GTM'),
 ('Guinea', 'GIN'),
 ('Guinea-Bissau', 'GNB'),
 ('Guyana', 'GUY'),
 ('Haiti', 'HTI'),
 ('Honduras', 'HND'),
 ('Hong Kong', 'HKG'),
 ('Hungary', 'HUN'),
 ('Iceland', 'ISL'),
 ('India', 'IND'),
 ('Indonesia', 'IDN'),
 ('Iran', 'IRN'),
 ('Iraq', 'IRQ'),
 ('Ireland', 'IRL'),
 ('Israel', 'ISR'),
 ('Italy', 'ITA'),
 ('Jamaica', 'JAM'),
 ('Japan', 'JPN'),
 ('Jordan', 'JOR'),
 ('Kazakhstan', 'KAZ'),
 ('Kenya', 'KEN'),
 ('Kuwait', 'KWT'),
 ('Kyrgyzstan', 'KGZ'),
 ('Laos', 'LAO'),
 ('Latvia', 'LVA'),
 ('Lebanon', 'LBN'),
 ('Lesotho', 'LSO'),
 ('Liberia', 'LBR'),
 ('Libya', 'LBY'),
 ('Lithuania', 'LTU'),
 ('Luxembourg', 'LUX'),
 ('Madagascar', 'MDG'),
 ('Malawi', 'MWI'),
 ('Malaysia', 'MYS'),
 ('Mali', 'MLI'),
 ('Malta', 'MLT'),
 ('Mauritania', 'MRT'),
 ('Mauritius', 'MUS'),
 ('Mexico', 'MEX'),
 ('Moldova', 'MDA'),
 ('Mongolia', 'MNG'),
 ('Montenegro', 'MNE'),
 ('Morocco', 'MAR'),
 ('Mozambique', 'MOZ'),
 ('Myanmar', 'MMR'),
 ('Namibia', 'NAM'),
 ('Nepal', 'NPL'),
 ('Netherlands', 'NLD'),
 ('New Zealand', 'NZL'),
 ('Nicaragua', 'NIC'),
 ('Niger', 'NER'),
 ('Nigeria', 'NGA'),
 ('North Macedonia', 'MKD'),
 ('Norway', 'NOR'),
 ('Oman', 'OMN'),
 ('Pakistan', 'PAK'),
 ('Panama', 'PAN'),
 ('Papua New Guinea', 'PNG'),
 ('Paraguay', 'PRY'),
 ('Peru', 'PER'),
 ('Philippines', 'PHL'),
 ('Poland', 'POL'),
 ('Portugal', 'PRT'),
 ('Qatar', 'QAT'),
 ('Romania', 'ROU'),
 ('Russia', 'RUS'),
 ('Rwanda', 'RWA'),
 ('Saudi Arabia', 'SAU'),
 ('Senegal', 'SEN'),
 ('Serbia', 'SRB'),
 ('Seychelles', 'SYC'),
 ('Sierra Leone', 'SLE'),
 ('Singapore', 'SGP'),
 ('Slovakia', 'SVK'),
 ('Slovenia', 'SVN'),
 ('Somalia', 'SOM'),
 ('South Africa', 'ZAF'),
 ('South Korea', 'KOR'),
 ('South Sudan', 'SSD'),
 ('Spain', 'ESP'),
 ('Sri Lanka', 'LKA'),
 ('Sudan', 'SDN'),
 ('Suriname', 'SUR'),
 ('Sweden', 'SWE'),
 ('Switzerland', 'CHE'),
 ('Syria', 'SYR'),
 ('São Tomé and Príncipe', 'STP'),
 ('Taiwan, China, China', 'TWN'),
 ('Tajikistan', 'TJK'),
 ('Tanzania', 'TZA'),
 ('Thailand', 'THA'),
 ('The Gambia', 'GMB'),
 ('Togo', 'TGO'),
 ('Trinidad and Tobago', 'TTO'),
 ('Tunisia', 'TUN'),
 ('Turkey', 'TUR'),
 ('Turkmenistan', 'TKM'),
 ('Uganda', 'UGA'),
 ('Ukraine', 'UKR'),
 ('United Arab Emirates', 'ARE'),
 ('United Kingdom', 'GBR'),
 ('United States', 'USA'),
 ('Uruguay', 'URY'),
 ('Uzbekistan', 'UZB'),
 ('Venezuela', 'VEN'),
 ('Vietnam', 'VNM'),
 ('Yemen', 'YEM'),
 ('Zambia', 'ZMB'),
 ('Zimbabwe', 'ZWE')]

In [86]:
engine.execute('select * from Three_Letter_Codes').fetchall()

[('Afghanistan', 'AFG'),
 ('Albania', 'ALB'),
 ('Algeria', 'DZA'),
 ('American Samoa', 'ASM'),
 ('Andorra', 'AND'),
 ('Angola', 'AGO'),
 ('Anguilla', 'AIA'),
 ('Antarctica', 'ATA'),
 ('Antigua and Barbuda', 'ATG'),
 ('Argentina', 'ARG'),
 ('Armenia', 'ARM'),
 ('Aruba', 'ABW'),
 ('Australia', 'AUS'),
 ('Austria', 'AUT'),
 ('Azerbaijan', 'AZE'),
 ('Bahamas (the)', 'BHS'),
 ('Bahrain', 'BHR'),
 ('Bangladesh', 'BGD'),
 ('Barbados', 'BRB'),
 ('Belarus', 'BLR'),
 ('Belgium', 'BEL'),
 ('Belize', 'BLZ'),
 ('Benin', 'BEN'),
 ('Bermuda', 'BMU'),
 ('Bhutan', 'BTN'),
 ('Bolivia (Plurinational State of)', 'BOL'),
 ('Bonaire, Sint Eustatius and Saba', 'BES'),
 ('Bosnia and Herzegovina', 'BIH'),
 ('Botswana', 'BWA'),
 ('Bouvet Island', 'BVT'),
 ('Brazil', 'BRA'),
 ('British Indian Ocean Territory (the)', 'IOT'),
 ('Brunei Darussalam', 'BRN'),
 ('Bulgaria', 'BGR'),
 ('Burkina Faso', 'BFA'),
 ('Burundi', 'BDI'),
 ('Cabo Verde', 'CPV'),
 ('Cambodia', 'KHM'),
 ('Cameroon', 'CMR'),
 ('Canada', 'CAN'),
 ('Cayman Islands (the)', 'CYM'),
 ('Central African Republic (the)', 'CAF'),
 ('Chad', 'TCD'),
 ('Chile', 'CHL'),
 ('China', 'CHN'),
 ('Christmas Island', 'CXR'),
 ('Cocos (Keeling) Islands (the)', 'CCK'),
 ('Colombia', 'COL'),
 ('Comoros (the)', 'COM'),
 ('Congo (the Democratic Republic of the)', 'COD'),
 ('Congo (the)', 'COG'),
 ('Cook Islands (the)', 'COK'),
 ('Costa Rica', 'CRI'),
 ('Croatia', 'HRV'),
 ('Cuba', 'CUB'),
 ('Curaçao', 'CUW'),
 ('Cyprus', 'CYP'),
 ('Czechia', 'CZE'),
 ("Côte d'Ivoire", 'CIV'),
 ('Denmark', 'DNK'),
 ('Djibouti', 'DJI'),
 ('Dominica', 'DMA'),
 ('Dominican Republic (the)', 'DOM'),
 ('Ecuador', 'ECU'),
 ('Egypt', 'EGY'),
 ('El Salvador', 'SLV'),
 ('Equatorial Guinea', 'GNQ'),
 ('Eritrea', 'ERI'),
 ('Estonia', 'EST'),
 ('Eswatini', 'SWZ'),
 ('Ethiopia', 'ETH'),
 ('Falkland Islands (the) [Malvinas]', 'FLK'),
 ('Faroe Islands (the)', 'FRO'),
 ('Fiji', 'FJI'),
 ('Finland', 'FIN'),
 ('France', 'FRA'),
 ('French Guiana', 'GUF'),
 ('French Polynesia', 'PYF'),
 ('French Southern Territories (the)', 'ATF'),
 ('Gabon', 'GAB'),
 ('Gambia (the)', 'GMB'),
 ('Georgia', 'GEO'),
 ('Germany', 'DEU'),
 ('Ghana', 'GHA'),
 ('Gibraltar', 'GIB'),
 ('Greece', 'GRC'),
 ('Greenland', 'GRL'),
 ('Grenada', 'GRD'),
 ('Guadeloupe', 'GLP'),
 ('Guam', 'GUM'),
 ('Guatemala', 'GTM'),
 ('Guernsey', 'GGY'),
 ('Guinea', 'GIN'),
 ('Guinea-Bissau', 'GNB'),
 ('Guyana', 'GUY'),
 ('Haiti', 'HTI'),
 ('Heard Island and McDonald Islands', 'HMD'),
 ('Holy See (the)', 'VAT'),
 ('Honduras', 'HND'),
 ('Hong Kong', 'HKG'),
 ('Hungary', 'HUN'),
 ('Iceland', 'ISL'),
 ('India', 'IND'),
 ('Indonesia', 'IDN'),
 ('Iran (Islamic Republic of)', 'IRN'),
 ('Iraq', 'IRQ'),
 ('Ireland', 'IRL'),
 ('Isle of Man', 'IMN'),
 ('Israel', 'ISR'),
 ('Italy', 'ITA'),
 ('Jamaica', 'JAM'),
 ('Japan', 'JPN'),
 ('Jersey', 'JEY'),
 ('Jordan', 'JOR'),
 ('Kazakhstan', 'KAZ'),
 ('Kenya', 'KEN'),
 ('Kiribati', 'KIR'),
 ("Korea (the Democratic People's Republic of)", 'PRK'),
 ('Korea (the Republic of)', 'KOR'),
 ('Kuwait', 'KWT'),
 ('Kyrgyzstan', 'KGZ'),
 ("Lao People's Democratic Republic (the)", 'LAO'),
 ('Latvia', 'LVA'),
 ('Lebanon', 'LBN'),
 ('Lesotho', 'LSO'),
 ('Liberia', 'LBR'),
 ('Libya', 'LBY'),
 ('Liechtenstein', 'LIE'),
 ('Lithuania', 'LTU'),
 ('Luxembourg', 'LUX'),
 ('Macao', 'MAC'),
 ('Madagascar', 'MDG'),
 ('Malawi', 'MWI'),
 ('Malaysia', 'MYS'),
 ('Maldives', 'MDV'),
 ('Mali', 'MLI'),
 ('Malta', 'MLT'),
 ('Marshall Islands (the)', 'MHL'),
 ('Martinique', 'MTQ'),
 ('Mauritania', 'MRT'),
 ('Mauritius', 'MUS'),
 ('Mayotte', 'MYT'),
 ('Mexico', 'MEX'),
 ('Micronesia (Federated States of)', 'FSM'),
 ('Moldova (the Republic of)', 'MDA'),
 ('Monaco', 'MCO'),
 ('Mongolia', 'MNG'),
 ('Montenegro', 'MNE'),
 ('Montserrat', 'MSR'),
 ('Morocco', 'MAR'),
 ('Mozambique', 'MOZ'),
 ('Myanmar', 'MMR'),
 ('Namibia', 'NAM'),
 ('Nauru', 'NRU'),
 ('Nepal', 'NPL'),
 ('Netherlands (the)', 'NLD'),
 ('New Caledonia', 'NCL'),
 ('New Zealand', 'NZL'),
 ('Nicaragua', 'NIC'),
 ('Niger (the)', 'NER'),
 ('Nigeria', 'NGA'),
 ('Niue', 'NIU'),
 ('Norfolk Island', 'NFK'),
 ('North Macedonia', 'MKD'),
 ('Northern Mariana Islands (the)', 'MNP'),
 ('Norway', 'NOR'),
 ('Oman', 'OMN'),
 ('Pakistan', 'PAK'),
 ('Palau', 'PLW'),
 ('Palestine, State of', 'PSE'),
 ('Panama', 'PAN'),
 ('Papua New Guinea', 'PNG'),
 ('Paraguay', 'PRY'),
 ('Peru', 'PER'),
 ('Philippines (the)', 'PHL'),
 ('Pitcairn', 'PCN'),
 ('Poland', 'POL'),
 ('Portugal', 'PRT'),
 ('Puerto Rico', 'PRI'),
 ('Qatar', 'QAT'),
 ('Romania', 'ROU'),
 ('Russian Federation (the)', 'RUS'),
 ('Rwanda', 'RWA'),
 ('Réunion', 'REU'),
 ('Saint Barthélemy', 'BLM'),
 ('Saint Helena, Ascension and Tristan da Cunha', 'SHN'),
 ('Saint Kitts and Nevis', 'KNA'),
 ('Saint Lucia', 'LCA'),
 ('Saint Martin (French part)', 'MAF'),
 ('Saint Pierre and Miquelon', 'SPM'),
 ('Saint Vincent and the Grenadines', 'VCT'),
 ('Samoa', 'WSM'),
 ('San Marino', 'SMR'),
 ('Sao Tome and Principe', 'STP'),
 ('Saudi Arabia', 'SAU'),
 ('Senegal', 'SEN'),
 ('Serbia', 'SRB'),
 ('Seychelles', 'SYC'),
 ('Sierra Leone', 'SLE'),
 ('Singapore', 'SGP'),
 ('Sint Maarten (Dutch part)', 'SXM'),
 ('Slovakia', 'SVK'),
 ('Slovenia', 'SVN'),
 ('Solomon Islands', 'SLB'),
 ('Somalia', 'SOM'),
 ('South Africa', 'ZAF'),
 ('South Georgia and the South Sandwich Islands', 'SGS'),
 ('South Sudan', 'SSD'),
 ('Spain', 'ESP'),
 ('Sri Lanka', 'LKA'),
 ('Sudan (the)', 'SDN'),
 ('Suriname', 'SUR'),
 ('Svalbard and Jan Mayen', 'SJM'),
 ('Sweden', 'SWE'),
 ('Switzerland', 'CHE'),
 ('Syrian Arab Republic (the)', 'SYR'),
 ('Taiwan (Province of China)', 'TWN'),
 ('Tajikistan', 'TJK'),
 ('Tanzania, the United Republic of', 'TZA'),
 ('Thailand', 'THA'),
 ('Timor-Leste', 'TLS'),
 ('Togo', 'TGO'),
 ('Tokelau', 'TKL'),
 ('Tonga', 'TON'),
 ('Trinidad and Tobago', 'TTO'),
 ('Tunisia', 'TUN'),
 ('Turkey', 'TUR'),
 ('Turkmenistan', 'TKM'),
 ('Turks and Caicos Islands (the)', 'TCA'),
 ('Tuvalu', 'TUV'),
 ('Uganda', 'UGA'),
 ('Ukraine', 'UKR'),
 ('United Arab Emirates (the)', 'ARE'),
 ('United Kingdom of Great Britain and Northern Ireland (the)', 'GBR'),
 ('United States Minor Outlying Islands (the)', 'UMI'),
 ('United States of America (the)', 'USA'),
 ('Uruguay', 'URY'),
 ('Uzbekistan', 'UZB'),
 ('Vanuatu', 'VUT'),
 ('Venezuela (Bolivarian Republic of)', 'VEN'),
 ('Viet Nam', 'VNM'),
 ('Virgin Islands (British)', 'VGB'),
 ('Virgin Islands (U.S.)', 'VIR'),
 ('Wallis and Futuna', 'WLF'),
 ('Western Sahara*', 'ESH'),
 ('Yemen', 'YEM'),
 ('Zambia', 'ZMB'),
 ('Zimbabwe', 'ZWE'),
 ('Åland Islands', 'ALA')]

In [87]:
#validating the data is in each table

#session = Session(bind=engine)

#countries = session.query(Country_table)
#for country in countries:
#  print(country.country_name, ' ' ,country.area_code)

In [88]:
# data clean-up and sanity checks i.e., unique pillars and find the junk data to remove

# Economic Quality - Productivity and Competitiveness

In [43]:
#Run joins (only two at a time)
# An option to aggregate the country database to single entries (filter based on element for instance)
# Join that newly aggregated to the combo table
#write the database onto a table